
// Fonts
@import "fonts";

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


/* Global */
a {
  font: normal 700 12pt Roboto;
  text-decoration: underline;
}

a.selected {
  background-color: #55f;
}

p {
  font: normal normal 10pt Verdana;

}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

.bold-list {
  list-style-image: url('/img/marker-r.png');

  li {
  }
}

/* Login modal */
#loginModal {
  .modal-header, h4, .close {
    padding: 15px 25px;
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
  }

  .modal-body {
    padding: 15px 25px;
  }

  .modal-footer {
    background-color: #f9f9f9;
  }
}

/* Main content */
body > .container {
  margin-top: 60px;

  h1 {
    margin-top: 0;
  }

  img {
    float: left;
    width: 100%;
    min-width: 10px;
    max-width: 420px;
    height: auto;
    padding: 0 20px 20px 0;
  }

  .article-info {
    a {
      font-size: 14pt;
      text-decoration: underline;
    }

    img {
      max-width: 420px;
    }
  }

  .article-info-small {
    @extend .article-info;

    img {
      max-width: 320px;
    }
  }

  .perf-info {
    padding: 10px 10px 60px 10px;

  }

  .perf-info-big {
    @extend .perf-info;

    img {
      float: none;
      max-width: 580px;
    }
  }

  .theatre-info {
    a {
      font-size: 14pt;
      text-decoration: underline;
    }

    img {
      max-width: 320px;
    }
  }
}

.navbar {
  //background: $brand-primary;
  font: normal 700 12pt Roboto;

  a {
    text-decoration: none;
  }

  .nav-caret {
    display: inline-block;
    background-image: url('/img/marker.png');
    width: 10px;
    height: 10px;
    margin-left: 2px;
    vertical-align: middle;
  }

  .navbar-brand {
    padding-left: 30px;
  }

  .navbar-right {
    padding-right: 25px;
    font-size: 11pt;
  }

  /* Animation */
  .dropdown .dropdown-menu {
    a {
      font-size: 10pt;
    }

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
  }

  .dropdown.open .dropdown-menu {
    max-height: 200px;
    opacity: 1;
    z-index: 1;
  }
}

